In [5]:
# regular imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import env
from env import host, user, password

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

# Wrangling
from sklearn.model_selection import train_test_split

In [6]:

def get_db_url(db):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
sql_query = '''
SELECT prop. *,
predictions_2017.logerror,
predictions_2017.transactiondate,
air.airconditioningdesc,
arch.architecturalstyledesc,
build.buildingclassdesc,
heat.heatingorsystemdesc,
land.propertylandusedesc,
story.storydesc,
type.typeconstructiondesc
FROM properties_2017 prop
JOIN (
            SELECT parcelid, MAX(transactiondate) AS max_transactiondate
            FROM predictions_2017
            GROUP BY parcelid) pred USING(parcelid)
JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
AND pred.max_transactiondate = predictions_2017.transactiondate
LEFT JOIN airconditioningtype air USING(airconditioningtypeid)
LEFT JOIN architecturalstyletype arch USING(architecturalstyletypeid)
LEFT JOIN buildingclasstype build USING(buildingclasstypeid)
LEFT JOIN heatingorsystemtype heat USING(heatingorsystemtypeid)
LEFT JOIN propertylandusetype land USING(propertylandusetypeid)
LEFT JOIN storytype story USING(storytypeid)
LEFT JOIN typeconstructiontype type USING(typeconstructiontypeid)
WHERE propertylandusedesc IN ('Single Family Residential' , 'Mobile Home', 'Manufactured, Modular, Prefabricated Homes', 'Patio Home', 'Bungalow', 'Planned Unit Development') 
AND transactiondate <= '2017-12-31'
AND prop.longitude IS NOT NULL
AND prop.latitude IS NOT NULL;
'''
    
def get_zillow_data():
    df = pd.read_sql(sql_query, get_db_url('zillow'))
    df = df.drop(columns='id')
    return df

In [10]:
df = get_zillow_data()

In [11]:
#Summary statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,"54,395.00","12,968,798.63","3,495,113.43","10,711,855.00","11,481,340.50","12,540,352.00","14,105,468.00","167,689,317.00"
airconditioningtypeid,"15,320.00",2.28,3.66,1.00,1.00,1.00,1.00,13.00
architecturalstyletypeid,70.00,7.10,2.67,2.00,7.00,7.00,7.00,21.00
basementsqft,47.00,678.98,711.83,38.00,263.50,512.00,809.50,"3,560.00"
bathroomcnt,"54,395.00",2.32,1.02,0.00,2.00,2.00,3.00,18.00
bedroomcnt,"54,395.00",3.30,0.95,0.00,3.00,3.00,4.00,14.00
buildingqualitytypeid,"35,647.00",6.35,1.72,1.00,5.00,6.00,8.00,12.00
calculatedbathnbr,"54,221.00",2.33,1.02,1.00,2.00,2.00,3.00,18.00
decktypeid,392.00,66.00,0.00,66.00,66.00,66.00,66.00,66.00
finishedfloor1squarefeet,"4,381.00","1,546.23",674.94,184.00,"1,151.00","1,410.00","1,760.00","6,912.00"
calculatedfinishedsquarefeet,"54,291.00","1,927.99","1,001.02",128.00,"1,276.00","1,668.00","2,309.00","21,929.00"
finishedsquarefeet12,"54,085.00","1,930.50","1,001.17",128.00,"1,278.00","1,670.00","2,312.00","21,929.00"
finishedsquarefeet13,41.00,"1,389.85",123.53,"1,056.00","1,344.00","1,440.00","1,440.00","1,560.00"
finishedsquarefeet50,"4,381.00","1,566.99",744.57,184.00,"1,152.00","1,415.00","1,771.00","12,467.00"
finishedsquarefeet6,165.00,"1,241.08",776.96,380.00,784.00,"1,008.00","1,320.00","5,598.00"
fips,"54,395.00","6,048.77",20.87,"6,037.00","6,037.00","6,037.00","6,059.00","6,111.00"
fireplacecnt,"7,234.00",1.21,0.51,1.00,1.00,1.00,1.00,5.00
fullbathcnt,"54,221.00",2.27,1.00,1.00,2.00,2.00,3.00,18.00
garagecarcnt,"18,027.00",1.95,0.55,0.00,2.00,2.00,2.00,14.00
garagetotalsqft,"18,027.00",494.74,158.77,0.00,426.00,462.00,566.00,"4,251.00"
hashottuborspa,"1,514.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
heatingorsystemtypeid,"35,784.00",3.86,2.54,1.00,2.00,2.00,7.00,24.00
latitude,"54,395.00","34,027,527.51","273,449.14","33,339,830.00","33,832,171.50","34,031,872.00","34,189,684.50","34,818,767.00"
longitude,"54,395.00","-118,199,190.30","357,104.23","-119,475,416.00","-118,408,171.00","-118,157,342.00","-117,932,832.00","-117,554,636.00"
lotsizesquarefeet,"53,956.00","12,575.40","88,275.22",236.00,"5,500.00","6,815.00","8,833.50","6,971,010.00"
poolcnt,"11,447.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
poolsizesum,865.00,518.31,156.61,24.00,424.00,500.00,600.00,"1,500.00"
pooltypeid10,443.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid2,"1,071.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid7,"10,357.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
propertylandusetypeid,"54,395.00",261.30,1.55,261.00,261.00,261.00,261.00,275.00
rawcensustractandblock,"54,395.00","60,490,909.26","207,042.99","60,371,011.10","60,374,016.01","60,376,201.01","60,590,423.05","61,110,091.00"
regionidcity,"53,242.00","33,475.75","48,397.94","3,491.00","12,447.00","24,812.00","40,227.00","396,556.00"
regionidcounty,"54,395.00","2,544.69",796.40,"1,286.00","1,286.00","3,101.00","3,101.00","3,101.00"
regionidneighborhood,"19,743.00","181,066.75","163,941.26","6,952.00","41,131.00","118,208.00","274,517.00","764,167.00"
regionidzip,"54,365.00","96,627.20","4,522.21","95,982.00","96,208.00","96,403.00","96,993.00","399,675.00"
roomcnt,"54,395.00",1.83,3.11,0.00,0.00,0.00,5.00,15.00
storytypeid,47.00,7.00,0.00,7.00,7.00,7.00,7.00,7.00
threequarterbathnbr,"6,717.00",1.01,0.14,1.00,1.00,1.00,1.00,7.00
typeconstructiontypeid,76.00,5.97,0.23,4.00,6.00,6.00,6.00,6.00
unitcnt,"35,751.00",1.00,0.03,1.00,1.00,1.00,1.00,3.00
yardbuildingsqft17,"1,952.00",336.62,248.85,11.00,200.00,280.00,400.00,"3,191.00"
yardbuildingsqft26,65.00,229.74,190.83,12.00,72.00,180.00,320.00,868.00
yearbuilt,"54,260.00","1,964.38",23.31,"1,878.00","1,950.00","1,962.00","1,981.00","2,016.00"
numberofstories,"14,542.00",1.41,0.54,1.00,1.00,1.00,2.00,6.00
fireplaceflag,81.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
structuretaxvaluedollarcnt,"54,301.00","198,609.31","252,382.26",129.00,"78,533.00","134,730.00","230,054.00","9,164,901.00"
taxvaluedollarcnt,"54,394.00","529,143.53","741,347.55","1,000.00","197,636.75","376,624.00","618,940.00","49,061,236.00"
assessmentyear,"54,395.00","2,016.00",0.00,"2,016.00","2,016.00","2,016.00","2,016.00","2,016.00"
landtaxvaluedollarcnt,"54,393.00","330,879.87","561,648.12",161.00,"78,600.00","217,460.00","405,800.00","48,952,198.00"
taxamount,"54,391.00","6,460.63","8,634.51",49.18,"2,699.27","4,688.82","7,409.85","586,639.30"
taxdelinquencyyear,"2,113.00",14.10,2.38,4.00,14.00,15.00,15.00,99.00
censustractandblock,"54,265.00","60,498,605,800,781.34","1,825,637,040,616.52","60,371,011,101,000.00","60,374,016,031,015.00","60,376,201,023,011.00","60,590,423,052,003.00","483,030,105,084,015.00"
logerror,"54,395.00",0.02,0.18,-4.66,-0.02,0.01,0.04,5.26

In [12]:
#Info on the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54395 entries, 0 to 54394
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      54395 non-null  int64
 1   airconditioningtypeid         15320 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   54395 non-null  float64
 5   bedroomcnt                    54395 non-null  float64
 6   buildingclasstypeid           0 non-null      object
 7   buildingqualitytypeid         35647 non-null  float64
 8   calculatedbathnbr             54221 non-null  float64
 9   decktypeid                    392 non-null    float64
 10  finishedfloor1squarefeet      4381 non-null   float64
 11  calculatedfinishedsquarefeet  54291 non-null  float64
 12  finishedsquarefeet12          54085 non-null  float64
 13  finishedsquarefeet13          41 non-null     float64
 14  finishedsquarefeet15          0 non-null      object
 15  finishedsquarefeet50          4381 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          54395 non-null  float64
 18  fireplacecnt                  7234 non-null   float64
 19  fullbathcnt                   54221 non-null  float64
 20  garagecarcnt                  18027 non-null  float64
 21  garagetotalsqft               18027 non-null  float64
 22  hashottuborspa                1514 non-null   float64
 23  heatingorsystemtypeid         35784 non-null  float64
 24  latitude                      54395 non-null  float64
 25  longitude                     54395 non-null  float64
 26  lotsizesquarefeet             53956 non-null  float64
 27  poolcnt                       11447 non-null  float64
 28  poolsizesum                   865 non-null    float64
 29  pooltypeid10                  443 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10357 non-null  float64
 32  propertycountylandusecode     54395 non-null  object
 33  propertylandusetypeid         54395 non-null  float64
 34  propertyzoningdesc            35726 non-null  object
 35  rawcensustractandblock        54395 non-null  float64
 36  regionidcity                  53242 non-null  float64
 37  regionidcounty                54395 non-null  float64
 38  regionidneighborhood          19743 non-null  float64
 39  regionidzip                   54365 non-null  float64
 40  roomcnt                       54395 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6717 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       35751 non-null  float64
 45  yardbuildingsqft17            1952 non-null   float64
 46  yardbuildingsqft26            65 non-null     float64
 47  yearbuilt                     54260 non-null  float64
 48  numberofstories               14542 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    54301 non-null  float64
 51  taxvaluedollarcnt             54394 non-null  float64
 52  assessmentyear                54395 non-null  float64
 53  landtaxvaluedollarcnt         54393 non-null  float64
 54  taxamount                     54391 non-null  float64
 55  taxdelinquencyflag            2113 non-null   object
 56  taxdelinquencyyear            2113 non-null   float64
 57  censustractandblock           54265 non-null  float64
 58  logerror                      54395 non-null  float64
 59  transactiondate               54395 non-null  object
 60  airconditioningdesc           15320 non-null  object
 61  architecturalstyledesc        70 non-null     object
 62  buildingclassdesc             0 non-null      object
 63  heatingorsystemdesc           35784 non-null  object
 64  propertylandusedesc           54395 non-null  object
 65  storydesc                     47 non-null     object
 66  typeconstructiondesc          76 non-null     object
dtypes: float64(53), int64(1), object(13)
memory usage: 27.8+ MB

In [13]:
print(f'r0ws: {df.shape[0]}')
print(f'co1umns: {df.shape[1]}')

r0ws: 54395
co1umns: 67

In [14]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())

parcelid
14297519    1
12050704    1
11217239    1
13967614    1
12865580    1
           ..
12410258    1
10970834    1
14171698    1
12893364    1
12826780    1
Name: parcelid, Length: 54395, dtype: int64
airconditioningtypeid
 1.00    13578
13.00     1567
 5.00      159
11.00       16
Name: airconditioningtypeid, dtype: int64
architecturalstyletypeid
 7.00    62
 3.00     3
 2.00     2
21.00     2
 8.00     1
Name: architecturalstyletypeid, dtype: int64
basementsqft
  900.00    2
  640.00    2
  100.00    2
  515.00    2
  273.00    2
  912.00    2
  314.00    1
  819.00    1
1,809.00    1
  604.00    1
  126.00    1
  588.00    1
  786.00    1
  669.00    1
  800.00    1
  396.00    1
  112.00    1
  645.00    1
  384.00    1
1,969.00    1
  252.00    1
  600.00    1
1,218.00    1
  280.00    1
  300.00    1
  224.00    1
  512.00    1
  380.00    1
  204.00    1
  200.00    1
   90.00    1
3,112.00    1
  405.00    1
1,252.00    1
  254.00    1
3,560.00    1
  352.00    1
  168.00    1
  394.00    1
1,416.00    1
   38.00    1
Name: basementsqft, dtype: int64
bathroomcnt
 2.00    22318
 3.00    11928
 1.00     9573
 2.50     3932
 4.00     2364
 3.50      916
 5.00      882
 1.50      839
 4.50      686
 6.00      339
 5.50      224
 0.00      158
 7.00       92
 8.00       55
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: bathroomcnt, dtype: int64
bedroomcnt
 3.00    24202
 4.00    15812
 2.00     8674
 5.00     4105
 6.00      650
 1.00      631
 0.00      176
 7.00      108
 8.00       24
 9.00        8
10.00        2
14.00        1
11.00        1
12.00        1
Name: bedroomcnt, dtype: int64
buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)
buildingqualitytypeid
 6.00    10492
 8.00     9309
 4.00     8144
 7.00     3849
 5.00     1507
 9.00     1269
11.00      593
10.00      237
 3.00      150
12.00       83
 1.00        9
 2.00        5
Name: buildingqualitytypeid, dtype: int64
calculatedbathnbr
 2.00    22318
 3.00    11928
 1.00     9573
 2.50     3924
 4.00     2364
 3.50      916
 5.00      882
 1.50      832
 4.50      686
 6.00      339
 5.50      223
 7.00       92
 8.00       55
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: calculatedbathnbr, dtype: int64
decktypeid
66.00    392
Name: decktypeid, dtype: int64
finishedfloor1squarefeet
1,252.00    22
1,462.00    21
1,205.00    21
1,227.00    19
1,431.00    17
            ..
2,800.00     1
2,536.00     1
4,662.00     1
2,372.00     1
2,652.00     1
Name: finishedfloor1squarefeet, Length: 1554, dtype: int64
calculatedfinishedsquarefeet
1,120.00    129
1,200.00    120
1,080.00    102
1,440.00     97
1,040.00     88
           ...
8,082.00      1
4,134.00      1
  659.00      1
4,349.00      1
5,210.00      1
Name: calculatedfinishedsquarefeet, Length: 4754, dtype: int64
finishedsquarefeet12
1,120.00    128
1,200.00    118
1,080.00    102
1,400.00     87
1,040.00     87
           ...
4,464.00      1
  565.00      1
4,378.00      1
  657.00      1
5,210.00      1
Name: finishedsquarefeet12, Length: 4747, dtype: int64
finishedsquarefeet13
1,440.00    18
1,344.00     5
1,536.00     3
1,488.00     3
1,152.00     2
1,392.00     2
1,248.00     2
1,056.00     1
1,300.00     1
1,560.00     1
1,512.00     1
1,060.00     1
1,200.00     1
Name: finishedsquarefeet13, dtype: int64
finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)
finishedsquarefeet50
1,252.00    22
1,205.00    21
1,462.00    21
1,227.00    19
1,431.00    17
            ..
1,533.00     1
1,708.00     1
  922.00     1
2,062.00     1
2,652.00     1
Name: finishedsquarefeet50, Length: 1573, dtype: int64
finishedsquarefeet6
  952.00    4
  520.00    3
  750.00    2
  765.00    2
  845.00    2
           ..
1,178.00    1
  670.00    1
  748.00    1
1,200.00    1
  905.00    1
Name: finishedsquarefeet6, Length: 155, dtype: int64
fips
6,037.00    35821
6,059.00    14121
6,111.00     4453
Name: fips, dtype: int64
fireplacecnt
1.00    6025
2.00     942
3.00     229
4.00      35
5.00       3
Name: fireplacecnt, dtype: int64
fullbathcnt
 2.00    26254
 3.00    12853
 1.00    10405
 4.00     3051
 5.00     1101
 6.00      376
 7.00      100
 8.00       58
 9.00       13
10.00        5
11.00        3
18.00        1
13.00        1
Name: fullbathcnt, dtype: int64
garagecarcnt
 2.00    14815
 1.00     2200
 3.00      623
 4.00      253
 0.00       65
 5.00       45
 6.00       13
 7.00        3
10.00        3
 8.00        2
 9.00        2
11.00        1
13.00        1
14.00        1
Name: garagecarcnt, dtype: int64
garagetotalsqft
  400.00    786
  441.00    678
  462.00    658
  360.00    646
  460.00    569
           ...
1,006.00      1
  275.00      1
1,056.00      1
  261.00      1
  957.00      1
Name: garagetotalsqft, Length: 839, dtype: int64
hashottuborspa
1.00    1514
Name: hashottuborspa, dtype: int64
heatingorsystemtypeid
 2.00    22605
 7.00    12542
 6.00      517
20.00       88
13.00       16
 1.00        7
18.00        6
10.00        2
24.00        1
Name: heatingorsystemtypeid, dtype: int64
latitude
34,047,500.00    12
34,458,026.00     8
34,101,300.00     7
34,443,837.00     7
33,906,400.00     7
                 ..
33,980,964.00     1
34,034,633.00     1
33,840,741.00     1
33,511,474.00     1
33,937,685.00     1
Name: latitude, Length: 52321, dtype: int64
longitude
-118,249,000.00    12
-118,510,039.00     8
-117,879,000.00     8
-118,172,000.00     7
-117,830,000.00     7
                   ..
-118,093,026.00     1
-118,307,203.00     1
-118,186,384.00     1
-119,191,515.00     1
-117,996,709.00     1
Name: longitude, Length: 52587, dtype: int64
lotsizesquarefeet
 6,000.00    873
 5,000.00    413
 7,200.00    306
 7,000.00    285
 6,500.00    272
            ...
10,443.00      1
 9,028.00      1
18,868.00      1
 9,894.00      1
47,405.00      1
Name: lotsizesquarefeet, Length: 14941, dtype: int64
poolcnt
1.00    11447
Name: poolcnt, dtype: int64
poolsizesum
  450.00    89
  400.00    38
  500.00    30
  600.00    27
  512.00    25
            ..
  275.00     1
  434.00     1
1,070.00     1
  368.00     1
  780.00     1
Name: poolsizesum, Length: 262, dtype: int64
pooltypeid10
1.00    443
Name: pooltypeid10, dtype: int64
pooltypeid2
1.00    1071
Name: pooltypeid2, dtype: int64
pooltypeid7
1.00    10357
Name: pooltypeid7, dtype: int64
propertycountylandusecode
0100    26713
122     13045
0101     6399
1111     3353
010D     1943
1        1067
1110     1024
0104      367
010G       93
0103       91
0108       57
1117       55
010M       52
0700       50
0109       18
1116       10
73          9
1112        8
0113        6
0110        6
070D        5
0141        4
0105        3
1120        3
0102        3
0111        2
010V        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64
propertylandusetypeid
261.00    52319
269.00     1944
263.00       74
275.00       58
Name: propertylandusetypeid, dtype: int64
propertyzoningdesc
LAR1          6481
LARS          1387
LBR1N         1116
SCUR2          865
LARE11         626
              ...
MNR3*            1
NORI YY          1
PDR 1 1000       1
WAR120000*       1
BFA15000*        1
Name: propertyzoningdesc, Length: 1469, dtype: int64
rawcensustractandblock
60,379,203.39    48
60,379,201.16    32
60,590,320.57    24
60,371,417.00    24
60,379,200.28    23
                 ..
60,372,423.00     1
60,590,320.50     1
61,110,080.04     1
60,590,992.32     1
60,375,034.02     1
Name: rawcensustractandblock, Length: 32195, dtype: int64
regionidcity
12,447.00    11632
 5,534.00     1820
40,227.00     1510
46,298.00     1484
54,311.00     1218
             ...
46,098.00        4
32,927.00        3
36,078.00        1
10,815.00        1
21,395.00        1
Name: regionidcity, Length: 175, dtype: int64
regionidcounty
3,101.00    35821
1,286.00    14121
2,061.00     4453
Name: regionidcounty, dtype: int64
regionidneighborhood
 48,570.00    506
118,208.00    474
 27,080.00    448
 37,739.00    428
274,049.00    393
             ...
764,146.00      1
764,140.00      1
268,050.00      1
273,096.00      1
762,940.00      1
Name: regionidneighborhood, Length: 447, dtype: int64
regionidzip
97,319.00    797
97,318.00    678
97,329.00    569
97,328.00    529
97,118.00    497
            ...
97,092.00      1
96,038.00      1
96,148.00      1
96,467.00      1
97,088.00      1
Name: regionidzip, Length: 383, dtype: int64
roomcnt
 0.00    39794
 6.00     3979
 7.00     3609
 8.00     2810
 5.00     1896
 9.00     1173
 4.00      544
10.00      338
11.00      108
 3.00       79
12.00       35
 2.00       12
13.00       10
14.00        6
 1.00        1
15.00        1
Name: roomcnt, dtype: int64
storytypeid
7.00    47
Name: storytypeid, dtype: int64
threequarterbathnbr
1.00    6638
2.00      70
3.00       8
7.00       1
Name: threequarterbathnbr, dtype: int64
typeconstructiontypeid
6.00    75
4.00     1
Name: typeconstructiontypeid, dtype: int64
unitcnt
1.00    35723
2.00       27
3.00        1
Name: unitcnt, dtype: int64
yardbuildingsqft17
  200.00    90
  240.00    72
  300.00    49
  400.00    37
  360.00    35
            ..
  319.00     1
  475.00     1
1,113.00     1
  415.00     1
  201.00     1
Name: yardbuildingsqft17, Length: 504, dtype: int64
yardbuildingsqft26
120.00    3
 56.00    2
300.00    2
240.00    2
448.00    2
144.00    2
196.00    1
250.00    1
575.00    1
491.00    1
 91.00    1
133.00    1
486.00    1
140.00    1
 39.00    1
284.00    1
 16.00    1
204.00    1
 71.00    1
461.00    1
195.00    1
292.00    1
231.00    1
 30.00    1
320.00    1
384.00    1
180.00    1
 49.00    1
868.00    1
462.00    1
 48.00    1
 37.00    1
 28.00    1
105.00    1
 88.00    1
160.00    1
 45.00    1
752.00    1
169.00    1
 21.00    1
200.00    1
113.00    1
 41.00    1
314.00    1
 12.00    1
414.00    1
 66.00    1
648.00    1
174.00    1
218.00    1
 60.00    1
336.00    1
108.00    1
216.00    1
360.00    1
 72.00    1
368.00    1
576.00    1
Name: yardbuildingsqft26, dtype: int64
yearbuilt
1,955.00    1893
1,950.00    1605
1,954.00    1513
1,953.00    1481
1,956.00    1384
            ...
1,892.00       1
1,878.00       1
1,882.00       1
1,894.00       1
1,880.00       1
Name: yearbuilt, Length: 133, dtype: int64
numberofstories
1.00    8878
2.00    5312
3.00     351
6.00       1
Name: numberofstories, dtype: int64
fireplaceflag
1.00    81
Name: fireplaceflag, dtype: int64
structuretaxvaluedollarcnt
100,000.00    51
200,000.00    38
 90,000.00    32
 95,000.00    29
203,050.00    28
              ..
236,159.00     1
 94,473.00     1
 39,537.00     1
 80,135.00     1
 32,797.00     1
Name: structuretaxvaluedollarcnt, Length: 38594, dtype: int64
taxvaluedollarcnt
455,000.00    35
600,000.00    31
550,000.00    26
500,000.00    25
450,000.00    25
              ..
497,409.00     1
421,945.00     1
220,451.00     1
496,121.00     1
 49,546.00     1
Name: taxvaluedollarcnt, Length: 40166, dtype: int64
assessmentyear
2,016.00    54395
Name: assessmentyear, dtype: int64
landtaxvaluedollarcnt
 21,299.00    96
 22,755.00    65
 30,210.00    63
 16,522.00    53
 18,611.00    51
              ..
133,083.00     1
387,876.00     1
903,554.00     1
265,477.00     1
283,704.00     1
Name: landtaxvaluedollarcnt, Length: 38139, dtype: int64
taxamount
2,217.31    4
  345.72    4
5,947.26    3
2,839.48    3
2,182.12    3
           ..
9,641.07    1
  837.64    1
5,414.86    1
5,441.36    1
6,317.15    1
Name: taxamount, Length: 52806, dtype: int64
taxdelinquencyflag
Y    2113
Name: taxdelinquencyflag, dtype: int64
taxdelinquencyyear
15.00    1142
14.00     575
13.00     131
12.00      85
11.00      80
10.00      47
 9.00      34
 8.00       8
 7.00       8
 6.00       1
99.00       1
 4.00       1
Name: taxdelinquencyyear, dtype: int64
censustractandblock
60,379,203,391,054.00    32
60,379,201,162,006.00    32
60,590,320,571,003.00    24
60,371,417,002,000.00    24
60,590,320,421,002.00    23
                         ..
60,590,996,012,019.00     1
60,374,640,005,000.00     1
60,590,992,323,003.00     1
60,590,754,011,014.00     1
60,375,034,021,020.00     1
Name: censustractandblock, Length: 32151, dtype: int64
logerror
 0.00    5
 0.00    5
 0.00    5
 0.00    5
 0.02    4
        ..
 0.00    1
-0.08    1
-0.22    1
 0.05    1
 0.04    1
Name: logerror, Length: 54111, dtype: int64
transactiondate
2017-06-30    843
2017-04-28    642
2017-05-31    590
2017-07-28    575
2017-08-31    549
             ...
2017-05-13      1
2017-05-20      1
2017-06-03      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64
airconditioningdesc
Central      13578
Yes           1567
None           159
Wall Unit       16
Name: airconditioningdesc, dtype: int64
architecturalstyledesc
Contemporary     62
Cape Cod          3
Bungalow          2
Ranch/Rambler     2
Conventional      1
Name: architecturalstyledesc, dtype: int64
buildingclassdesc
Series([], Name: buildingclassdesc, dtype: int64)
heatingorsystemdesc
Central       22605
Floor/Wall    12542
Forced air      517
Solar            88
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64
propertylandusedesc
Single Family Residential                     52319
Planned Unit Development                       1944
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Name: propertylandusedesc, dtype: int64
storydesc
Basement    47
Name: storydesc, dtype: int64
typeconstructiondesc
Frame       75
Concrete     1
Name: typeconstructiondesc, dtype: int64

Nulls in data

In [15]:
df.isnull().head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,False,True,True,True,False,False,True,True,False,True,True,False,False,True,True,True,True,False,True,False,False,False,True,True,False,False,False,True,True,True,True,True,False,False,True,False,False,False,True,False,False,True,False,True,True,True,True,False,True,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,False,True,True
1,False,True,True,True,False,False,True,True,False,True,False,False,False,True,True,False,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,True,False,False,True,False,False,False,True,False,False,True,True,True,True,True,True,False,False,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,False,True,True
2,False,True,True,True,False,False,True,True,False,True,True,False,False,True,True,True,True,False,True,False,False,False,True,True,False,False,False,False,True,True,True,False,False,False,True,False,False,False,True,False,False,True,True,True,True,True,True,False,False,True,False,False,False,False,False,True,True,False,False,False,True,True,True,True,False,True,True
3,False,True,True,True,False,False,True,False,False,True,True,False,False,True,True,True,True,False,True,False,True,True,True,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,True,False,False,True,True,True,False,True,True,False,True,True,False,False,False,False,False,True,True,False,False,False,True,True,True,False,False,True,True
4,False,False,True,True,False,False,True,False,False,True,True,False,False,True,True,True,True,False,True,False,True,True,True,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,True,False,True,True,False,False,False,False,False,True,True,False,False,False,False,True,True,False,False,True,True

In [16]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,NaN,3.50,4.00,None,NaN,3.50,NaN,NaN,"3,100.00","3,100.00",NaN,None,NaN,NaN,"6,059.00",NaN,3.00,2.00,633.00,NaN,NaN,"33,634,931.00","-117,869,207.00","4,506.00",NaN,NaN,NaN,NaN,NaN,122,261.00,None,"60,590,630.07","53,571.00","1,286.00",NaN,"96,978.00",0.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,998.00",NaN,NaN,"485,713.00","1,023,282.00","2,016.00","537,569.00","11,013.72",None,NaN,"60,590,630,072,012.00",0.03,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,NaN,1.00,2.00,None,NaN,1.00,NaN,"1,465.00","1,465.00","1,465.00",NaN,None,"1,465.00",NaN,"6,111.00",1.00,1.00,1.00,0.00,NaN,NaN,"34,449,266.00","-119,281,531.00","12,647.00",NaN,NaN,NaN,NaN,NaN,1110,261.00,None,"61,110,010.02","13,091.00","2,061.00",NaN,"97,099.00",5.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,967.00",1.00,NaN,"88,000.00","464,000.00","2,016.00","376,000.00","5,672.48",None,NaN,"61,110,010,023,006.00",0.06,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,14186244,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,NaN,"1,243.00","1,243.00",NaN,None,NaN,NaN,"6,059.00",NaN,2.00,2.00,440.00,NaN,NaN,"33,886,168.00","-117,823,170.00","8,432.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,218.02","21,412.00","1,286.00",NaN,"97,078.00",6.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,962.00",1.00,NaN,"85,289.00","564,778.00","2,016.00","479,489.00","6,488.30",None,NaN,"60,590,218,022,012.00",0.01,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"2,376.00","2,376.00",NaN,None,NaN,NaN,"6,037.00",NaN,3.00,NaN,NaN,NaN,2.00,"34,245,180.00","-118,240,722.00","13,038.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,LCR110000*,"60,373,001.00","396,551.00","3,101.00",NaN,"96,330.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,970.00",NaN,NaN,"108,918.00","145,143.00","2,016.00","36,225.00","1,777.51",None,NaN,"60,373,001,001,006.00",-0.10,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,12095076,1.00,NaN,NaN,3.00,4.00,None,9.00,3.00,NaN,NaN,"2,962.00","2,962.00",NaN,None,NaN,NaN,"6,037.00",NaN,3.00,NaN,NaN,NaN,2.00,"34,145,202.00","-118,179,824.00","63,000.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,PSR2,"60,374,608.00","47,019.00","3,101.00","274,684.00","96,293.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,950.00",NaN,NaN,"276,684.00","773,303.00","2,016.00","496,619.00","9,516.26",None,NaN,"60,374,608,001,014.00",-0.00,2017-01-01,Central,None,None,Central,Single Family Residential,None,None

In [20]:
pd.DataFrame(df.isnull().sum())

                              0
parcelid                      0
airconditioningtypeid     39075
architecturalstyletypeid  54325
basementsqft              54348
bathroomcnt                   0
...                         ...
buildingclassdesc         54395
heatingorsystemdesc       18611
propertylandusedesc           0
storydesc                 54348
typeconstructiondesc      54319

[67 rows x 1 columns]

Nulls in columns

In [19]:
pd.DataFrame((df.isnull().sum()/df.shape[0]*100)) # Percentage of nulls in each column

                                            0
parcelid                                 0.00
airconditioningtypeid                   71.84
architecturalstyletypeid                99.87
basementsqft                            99.91
bathroomcnt                              0.00
...                                       ...
buildingclassdesc                      100.00
heatingorsystemdesc                     34.21
propertylandusedesc                      0.00
storydesc                               99.91
typeconstructiondesc                    99.86

[67 rows x 1 columns]

In [21]:
nulls_col = pd.DataFrame({'num_rows_missing': df.isnull().sum(), 
              'percent_rows_missing': (df.isnull().sum() / df.shape[0] * 100)})

nulls_col.sort_values(by='num_rows_missing', ascending=False)

                       num_rows_missing  percent_rows_missing
buildingclasstypeid               54395                100.00
buildingclassdesc                 54395                100.00
finishedsquarefeet15              54395                100.00
finishedsquarefeet13              54354                 99.92
basementsqft                      54348                 99.91
...                                 ...                   ...
latitude                              0                  0.00
fips                                  0                  0.00
bedroomcnt                            0                  0.00
bathroomcnt                           0                  0.00
propertylandusetypeid                 0                  0.00

[67 rows x 2 columns]

In [22]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

Nulls by Row

In [23]:
df.isnull().sum(axis=1)

0        36
1        33
2        34
3        32
4        29
         ..
54390    34
54391    33
54392    32
54393    32
54394    34
Length: 54395, dtype: int64

In [24]:
df.head(1)[df.head(1).isna()]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,None,None,NaN,None,None

In [25]:
df.isnull().sum(axis=1)

0        36
1        33
2        34
3        32
4        29
         ..
54390    34
54391    33
54392    32
54393    32
54394    34
Length: 54395, dtype: int64

In [26]:
df.isnull().sum(axis=1) / df.shape[1] * 100

0                      53.73
1                      49.25
2                      50.75
3                      47.76
4                      43.28
                ...
54390                  50.75
54391                  49.25
54392                  47.76
54393                  47.76
54394                  50.75
Length: 54395, dtype: float64

In [27]:
nulls_row = pd.DataFrame({'num_cols_missing': df.isnull().sum(axis=1),
              'percent_cols_missing': df.isnull().sum(axis=1)/df.shape[1]*100})

nulls_row

       num_cols_missing  percent_cols_missing
0                    36                 53.73
1                    33                 49.25
2                    34                 50.75
3                    32                 47.76
4                    29                 43.28
...                 ...                   ...
54390                34                 50.75
54391                33                 49.25
54392                32                 47.76
54393                32                 47.76
54394                34                 50.75

[54395 rows x 2 columns]

In [28]:
nulls_row = df.merge(nulls_row,
                        left_index=True,
                        right_index=True)[['parcelid', 'num_cols_missing', 'percent_cols_missing']]

nulls_row

       parcelid  num_cols_missing  percent_cols_missing
0      14297519                36                 53.73
1      17052889                33                 49.25
2      14186244                34                 50.75
3      12177905                32                 47.76
4      12095076                29                 43.28
...         ...               ...                   ...
54390  12412492                34                 50.75
54391  11000655                33                 49.25
54392  17239384                32                 47.76
54393  12773139                32                 47.76
54394  12826780                34                 50.75

[54395 rows x 3 columns]

In [29]:
nulls_row.sort_values(by='num_cols_missing', ascending=False)

        parcelid  num_cols_missing  percent_cols_missing
39062   14341728                48                 71.64
9287   167686999                48                 71.64
29088  167687839                48                 71.64
11537  167689317                47                 70.15
42974   17188862                47                 70.15
...          ...               ...                   ...
41067   14292517                24                 35.82
17445   14172935                24                 35.82
38906   14193288                24                 35.82
22863   14465914                23                 34.33
40932   14215623                23                 34.33

[54395 rows x 3 columns]

In [30]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})
    rows_missing = df.merge(rows_missing,
                        left_index=True,
                        right_index=True)[['parcelid', 'num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

In [32]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # .value_counts()
    # observation of nulls in the dataframe
    '''
    print('SUMMARY REPORT')
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts(), '\n')
        else:
            print(df[col].value_counts(bins=10, sort=False), '\n')
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [33]:
summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  14297519                    NaN                       NaN           NaN
1  17052889                    NaN                       NaN           NaN
2  14186244                    NaN                       NaN           NaN

           bathroomcnt           bedroomcnt buildingclasstypeid  \
0                 3.50                 4.00                None
1                 1.00                 2.00                None
2                 2.00                 3.00                None

   buildingqualitytypeid    calculatedbathnbr  decktypeid  \
0                    NaN                 3.50         NaN
1                    NaN                 1.00         NaN
2                    NaN                 2.00         NaN

   finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
0                       NaN                      3,100.00
1                  1,465.00                      1,465.00
2                       NaN                      1,243.00

   finishedsquarefeet12  finishedsquarefeet13 finishedsquarefeet15  \
0              3,100.00                   NaN                 None
1              1,465.00                   NaN                 None
2              1,243.00                   NaN                 None

   finishedsquarefeet50  finishedsquarefeet6                 fips  \
0                   NaN                  NaN             6,059.00
1              1,465.00                  NaN             6,111.00
2                   NaN                  NaN             6,059.00

          fireplacecnt          fullbathcnt         garagecarcnt  \
0                  NaN                 3.00                 2.00
1                 1.00                 1.00                 1.00
2                  NaN                 2.00                 2.00

       garagetotalsqft  hashottuborspa  heatingorsystemtypeid  \
0               633.00             NaN                    NaN
1                 0.00             NaN                    NaN
2               440.00             NaN                    NaN

              latitude            longitude    lotsizesquarefeet  \
0        33,634,931.00      -117,869,207.00             4,506.00
1        34,449,266.00      -119,281,531.00            12,647.00
2        33,886,168.00      -117,823,170.00             8,432.00

               poolcnt  poolsizesum  pooltypeid10  pooltypeid2  \
0                  NaN          NaN           NaN          NaN
1                  NaN          NaN           NaN          NaN
2                 1.00          NaN           NaN          NaN

           pooltypeid7 propertycountylandusecode  propertylandusetypeid  \
0                  NaN                       122                 261.00
1                  NaN                      1110                 261.00
2                 1.00                       122                 261.00

  propertyzoningdesc  rawcensustractandblock         regionidcity  \
0               None           60,590,630.07            53,571.00
1               None           61,110,010.02            13,091.00
2               None           60,590,218.02            21,412.00

        regionidcounty  regionidneighborhood          regionidzip  \
0             1,286.00                   NaN            96,978.00
1             2,061.00                   NaN            97,099.00
2             1,286.00                   NaN            97,078.00

               roomcnt  storytypeid  threequarterbathnbr  \
0                 0.00          NaN                 1.00
1                 5.00          NaN                  NaN
2                 6.00          NaN                  NaN

   typeconstructiontypeid  unitcnt  yardbuildingsqft17  yardbuildingsqft26  \
0                     NaN      NaN                 NaN                 NaN
1                     NaN      NaN                 NaN                 NaN
2                     NaN      NaN                 NaN                 NaN

             yearbuilt      numberofstories  fireplaceflag  \
0             1,998.00                  NaN            NaN
1             1,967.00                 1.00            NaN
2             1,962.00                 1.00            NaN

   structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
0                  485,713.00         1,023,282.00             2,016.00
1                   88,000.00           464,000.00             2,016.00
2                   85,289.00           564,778.00             2,016.00

   landtaxvaluedollarcnt            taxamount taxdelinquencyflag  \
0             537,569.00            11,013.72               None
1             376,000.00             5,672.48               None
2             479,489.00             6,488.30               None

   taxdelinquencyyear   censustractandblock             logerror  \
0                 NaN 60,590,630,072,012.00                 0.03
1                 NaN 61,110,010,023,006.00                 0.06
2                 NaN 60,590,218,022,012.00                 0.01

  transactiondate airconditioningdesc architecturalstyledesc  \
0      2017-01-01                None                   None
1      2017-01-01                None                   None
2      2017-01-01                None                   None

  buildingclassdesc heatingorsystemdesc        propertylandusedesc storydesc  \
0              None                None  Single Family Residential      None
1              None                None  Single Family Residential      None
2              None                None  Single Family Residential      None

  typeconstructiondesc
0                 None
1                 None
2                 None
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54395 entries, 0 to 54394
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      54395 non-null  int64
 1   airconditioningtypeid         15320 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   54395 non-null  float64
 5   bedroomcnt                    54395 non-null  float64
 6   buildingclasstypeid           0 non-null      object
 7   buildingqualitytypeid         35647 non-null  float64
 8   calculatedbathnbr             54221 non-null  float64
 9   decktypeid                    392 non-null    float64
 10  finishedfloor1squarefeet      4381 non-null   float64
 11  calculatedfinishedsquarefeet  54291 non-null  float64
 12  finishedsquarefeet12          54085 non-null  float64
 13  finishedsquarefeet13          41 non-null     float64
 14  finishedsquarefeet15          0 non-null      object
 15  finishedsquarefeet50          4381 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          54395 non-null  float64
 18  fireplacecnt                  7234 non-null   float64
 19  fullbathcnt                   54221 non-null  float64
 20  garagecarcnt                  18027 non-null  float64
 21  garagetotalsqft               18027 non-null  float64
 22  hashottuborspa                1514 non-null   float64
 23  heatingorsystemtypeid         35784 non-null  float64
 24  latitude                      54395 non-null  float64
 25  longitude                     54395 non-null  float64
 26  lotsizesquarefeet             53956 non-null  float64
 27  poolcnt                       11447 non-null  float64
 28  poolsizesum                   865 non-null    float64
 29  pooltypeid10                  443 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10357 non-null  float64
 32  propertycountylandusecode     54395 non-null  object
 33  propertylandusetypeid         54395 non-null  float64
 34  propertyzoningdesc            35726 non-null  object
 35  rawcensustractandblock        54395 non-null  float64
 36  regionidcity                  53242 non-null  float64
 37  regionidcounty                54395 non-null  float64
 38  regionidneighborhood          19743 non-null  float64
 39  regionidzip                   54365 non-null  float64
 40  roomcnt                       54395 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6717 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       35751 non-null  float64
 45  yardbuildingsqft17            1952 non-null   float64
 46  yardbuildingsqft26            65 non-null     float64
 47  yearbuilt                     54260 non-null  float64
 48  numberofstories               14542 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    54301 non-null  float64
 51  taxvaluedollarcnt             54394 non-null  float64
 52  assessmentyear                54395 non-null  float64
 53  landtaxvaluedollarcnt         54393 non-null  float64
 54  taxamount                     54391 non-null  float64
 55  taxdelinquencyflag            2113 non-null   object
 56  taxdelinquencyyear            2113 non-null   float64
 57  censustractandblock           54265 non-null  float64
 58  logerror                      54395 non-null  float64
 59  transactiondate               54395 non-null  object
 60  airconditioningdesc           15320 non-null  object
 61  architecturalstyledesc        70 non-null     object
 62  buildingclassdesc             0 non-null      object
 63  heatingorsystemdesc           35784 non-null  object
 64  propertylandusedesc           54395 non-null  object
 65  storydesc                     47 non-null     object
 66  typeconstructiondesc          76 non-null     object
dtypes: float64(53), int64(1), object(13)
memory usage: 27.8+ MB
None
=====================================================


Dataframe Description:
                  parcelid  airconditioningtypeid  architecturalstyletypeid  \
count            54,395.00              15,320.00                     70.00
mean         12,968,798.63                   2.28                      7.10
std           3,495,113.43                   3.66                      2.67
min          10,711,855.00                   1.00                      2.00
25%          11,481,340.50                   1.00                      7.00
50%          12,540,352.00                   1.00                      7.00
75%          14,105,468.00                   1.00                      7.00
max         167,689,317.00                  13.00                     21.00

              basementsqft          bathroomcnt           bedroomcnt  \
count                47.00            54,395.00            54,395.00
mean                678.98                 2.32                 3.30
std                 711.83                 1.02                 0.95
min                  38.00                 0.00                 0.00
25%                 263.50                 2.00                 3.00
50%                 512.00                 2.00                 3.00
75%                 809.50                 3.00                 4.00
max               3,560.00                18.00                14.00

       buildingqualitytypeid    calculatedbathnbr           decktypeid  \
count              35,647.00            54,221.00               392.00
mean                    6.35                 2.33                66.00
std                     1.72                 1.02                 0.00
min                     1.00                 1.00                66.00
25%                     5.00                 2.00                66.00
50%                     6.00                 2.00                66.00
75%                     8.00                 3.00                66.00
max                    12.00                18.00                66.00

       finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
count                  4,381.00                     54,291.00
mean                   1,546.23                      1,927.99
std                      674.94                      1,001.02
min                      184.00                        128.00
25%                    1,151.00                      1,276.00
50%                    1,410.00                      1,668.00
75%                    1,760.00                      2,309.00
max                    6,912.00                     21,929.00

       finishedsquarefeet12  finishedsquarefeet13  finishedsquarefeet50  \
count             54,085.00                 41.00              4,381.00
mean               1,930.50              1,389.85              1,566.99
std                1,001.17                123.53                744.57
min                  128.00              1,056.00                184.00
25%                1,278.00              1,344.00              1,152.00
50%                1,670.00              1,440.00              1,415.00
75%                2,312.00              1,440.00              1,771.00
max               21,929.00              1,560.00             12,467.00

       finishedsquarefeet6                 fips         fireplacecnt  \
count               165.00            54,395.00             7,234.00
mean              1,241.08             6,048.77                 1.21
std                 776.96                20.87                 0.51
min                 380.00             6,037.00                 1.00
25%                 784.00             6,037.00                 1.00
50%               1,008.00             6,037.00                 1.00
75%               1,320.00             6,059.00                 1.00
max               5,598.00             6,111.00                 5.00

               fullbathcnt         garagecarcnt      garagetotalsqft  \
count            54,221.00            18,027.00            18,027.00
mean                  2.27                 1.95               494.74
std                   1.00                 0.55               158.77
min                   1.00                 0.00                 0.00
25%                   2.00                 2.00               426.00
50%                   2.00                 2.00               462.00
75%                   3.00                 2.00               566.00
max                  18.00                14.00             4,251.00

            hashottuborspa  heatingorsystemtypeid             latitude  \
count             1,514.00              35,784.00            54,395.00
mean                  1.00                   3.86        34,027,527.51
std                   0.00                   2.54           273,449.14
min                   1.00                   1.00        33,339,830.00
25%                   1.00                   2.00        33,832,171.50
50%                   1.00                   2.00        34,031,872.00
75%                   1.00                   7.00        34,189,684.50
max                   1.00                  24.00        34,818,767.00

                 longitude    lotsizesquarefeet              poolcnt  \
count            54,395.00            53,956.00            11,447.00
mean       -118,199,190.30            12,575.40                 1.00
std             357,104.23            88,275.22                 0.00
min        -119,475,416.00               236.00                 1.00
25%        -118,408,171.00             5,500.00                 1.00
50%        -118,157,342.00             6,815.00                 1.00
75%        -117,932,832.00             8,833.50                 1.00
max        -117,554,636.00         6,971,010.00                 1.00

               poolsizesum         pooltypeid10          pooltypeid2  \
count               865.00               443.00             1,071.00
mean                518.31                 1.00                 1.00
std                 156.61                 0.00                 0.00
min                  24.00                 1.00                 1.00
25%                 424.00                 1.00                 1.00
50%                 500.00                 1.00                 1.00
75%                 600.00                 1.00                 1.00
max               1,500.00                 1.00                 1.00

               pooltypeid7  propertylandusetypeid  rawcensustractandblock  \
count            10,357.00              54,395.00               54,395.00
mean                  1.00                 261.30           60,490,909.26
std                   0.00                   1.55              207,042.99
min                   1.00                 261.00           60,371,011.10
25%                   1.00                 261.00           60,374,016.01
50%                   1.00                 261.00           60,376,201.01
75%                   1.00                 261.00           60,590,423.05
max                   1.00                 275.00           61,110,091.00

              regionidcity       regionidcounty  regionidneighborhood  \
count            53,242.00            54,395.00             19,743.00
mean             33,475.75             2,544.69            181,066.75
std              48,397.94               796.40            163,941.26
min               3,491.00             1,286.00              6,952.00
25%              12,447.00             1,286.00             41,131.00
50%              24,812.00             3,101.00            118,208.00
75%              40,227.00             3,101.00            274,517.00
max             396,556.00             3,101.00            764,167.00

               regionidzip              roomcnt          storytypeid  \
count            54,365.00            54,395.00                47.00
mean             96,627.20                 1.83                 7.00
std               4,522.21                 3.11                 0.00
min              95,982.00                 0.00                 7.00
25%              96,208.00                 0.00                 7.00
50%              96,403.00                 0.00                 7.00
75%              96,993.00                 5.00                 7.00
max             399,675.00                15.00                 7.00

       threequarterbathnbr  typeconstructiontypeid              unitcnt  \
count             6,717.00                   76.00            35,751.00
mean                  1.01                    5.97                 1.00
std                   0.14                    0.23                 0.03
min                   1.00                    4.00                 1.00
25%                   1.00                    6.00                 1.00
50%                   1.00                    6.00                 1.00
75%                   1.00                    6.00                 1.00
max                   7.00                    6.00                 3.00

        yardbuildingsqft17   yardbuildingsqft26            yearbuilt  \
count             1,952.00                65.00            54,260.00
mean                336.62               229.74             1,964.38
std                 248.85               190.83                23.31
min                  11.00                12.00             1,878.00
25%                 200.00                72.00             1,950.00
50%                 280.00               180.00             1,962.00
75%                 400.00               320.00             1,981.00
max               3,191.00               868.00             2,016.00

           numberofstories        fireplaceflag  structuretaxvaluedollarcnt  \
count            14,542.00                81.00                   54,301.00
mean                  1.41                 1.00                  198,609.31
std                   0.54                 0.00                  252,382.26

Our accomplishments so far

We have:

- Acquired our data
- Examined the structure and integrity of the data
- We have observed univariate descriptive statistics
- We have examined null values (in total, by column, and by row)
- We have created functions for these processes


What we still need to do:

- Determine what columns can be saved by filling in nulls.
- Create functions that identify upper bound outliers and lower bound outliers
- Create functions that act on our outliers (drop them, compress them, etc.)
- Create functions/processes that act on nulls beyond simple removal

Fill in null values.

In [46]:
df["fireplacecnt"].fillna( 0 , inplace = True)

In [54]:
df['fireplaceflag'] = np.where(df.fireplacecnt > 0, 1 , 0)

In [55]:
df.fireplaceflag.value_counts()

0    47161
1     7234
Name: fireplaceflag, dtype: int64

In [48]:
df.fireplacecnt.value_counts()

0.00    47161
1.00     6025
2.00      942
3.00      229
4.00       35
5.00        3
Name: fireplacecnt, dtype: int64

In [60]:
df.loc[df['fireplacecnt'] > 0]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
1,17052889,NaN,NaN,NaN,1.00,2.00,None,NaN,1.00,NaN,"1,465.00","1,465.00","1,465.00",NaN,None,"1,465.00",NaN,"6,111.00",1.00,1.00,1.00,0.00,NaN,NaN,"34,449,266.00","-119,281,531.00","12,647.00",NaN,NaN,NaN,NaN,NaN,1110,261.00,None,"61,110,010.02","13,091.00","2,061.00",NaN,"97,099.00",5.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,967.00",1.00,1,"88,000.00","464,000.00","2,016.00","376,000.00","5,672.48",None,NaN,"61,110,010,023,006.00",0.06,2017-01-01,None,None,None,None,Single Family Residential,None,None
8,13944538,13.00,NaN,NaN,2.50,3.00,None,NaN,2.50,NaN,NaN,"1,340.00","1,340.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,420.00,NaN,NaN,"33,771,438.00","-117,982,834.00","1,199.00",NaN,NaN,NaN,NaN,NaN,122,261.00,None,"60,590,888.01","24,832.00","1,286.00",NaN,"97,051.00",6.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,980.00",2.00,1,"96,617.00","319,668.00","2,016.00","223,051.00","4,078.08",None,NaN,"60,590,888,014,006.00",0.05,2017-01-02,Yes,None,None,None,Single Family Residential,None,None
12,14387959,NaN,NaN,NaN,2.50,3.00,None,NaN,2.50,NaN,NaN,"2,074.00","2,074.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,485.00,NaN,NaN,"33,586,693.00","-117,697,202.00","5,600.00",NaN,NaN,NaN,NaN,NaN,122,261.00,None,"60,590,423.27","25,458.00","1,286.00",NaN,"96,971.00",7.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,978.00",2.00,1,"173,269.00","597,213.00","2,016.00","423,944.00","6,172.28",None,NaN,"60,590,423,273,002.00",-0.01,2017-01-02,None,None,None,None,Single Family Residential,None,None
16,14314879,NaN,NaN,NaN,4.50,6.00,None,NaN,4.50,NaN,NaN,"3,870.00","3,870.00",NaN,None,NaN,NaN,"6,059.00",2.00,4.00,3.00,720.00,NaN,NaN,"33,609,965.00","-117,850,693.00","10,050.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,626.44","53,571.00","1,286.00","28,119.00","96,957.00",11.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,972.00",2.00,1,"298,263.00","2,040,000.00","2,016.00","1,741,737.00","21,758.26",None,NaN,"60,590,626,444,017.00",-0.00,2017-01-02,None,None,None,None,Single Family Residential,None,None
24,14344863,NaN,NaN,NaN,2.50,4.00,None,NaN,2.50,NaN,NaN,"1,979.00","1,979.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,446.00,NaN,NaN,"33,713,632.00","-117,765,112.00","3,936.00",NaN,NaN,NaN,NaN,NaN,122,261.00,None,"60,590,525.25","52,650.00","1,286.00","276,486.00","96,954.00",8.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,977.00",2.00,1,"140,369.00","800,017.00","2,016.00","659,648.00","8,138.06",None,NaN,"60,590,525,253,000.00",-0.00,2017-01-02,None,None,None,None,Single Family Residential,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54025,14425750,NaN,NaN,NaN,2.00,4.00,None,NaN,2.00,NaN,NaN,"1,358.00","1,358.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,428.00,NaN,NaN,"33,485,656.00","-117,682,129.00","3,240.00",NaN,NaN,NaN,NaN,NaN,122,261.00,None,"60,590,423.10","33,840.00","1,286.00",NaN,"96,985.00",7.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,973.00",2.00,1,"97,642.00","333,493.00","2,016.00","235,851.00","3,512.62",None,NaN,"60,590,423,103,012.00",0.01,2017-09-15,None,None,None,None,Single Family Residential,None,None
54046,14389748,1.00,NaN,NaN,2.50,3.00,None,NaN,2.50,NaN,NaN,"2,026.00","2,026.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,452.00,NaN,6.00,"33,591,625.00","-117,682,679.00","4,500.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,423.27","25,458.00","1,286.00",NaN,"96,971.00",6.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,987.00",NaN,1,"220,079.00","547,066.00","2,016.00","326,987.00","5,583.44",None,NaN,"60,590,423,271,030.00",0.02,2017-09-15,Central,None,None,Forced air,Single Family Residential,None,None
54053,14387399,13.00,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,NaN,"1,789.00","1,789.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,437.00,NaN,NaN,"33,591,290.00","-117,685,972.00","8,250.00",NaN,NaN,NaN,NaN,NaN,122,261.00,None,"60,590,423.27","25,458.00","1,286.00",NaN,"96,971.00",7.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,977.00",1.00,1,"162,955.00","324,483.00","2,016.00","161,528.00","3,290.00",None,NaN,"60,590,423,271,021.00",0.02,2017-09-15,Yes,None,None,None,Single Family Residential,None,None
54093,13976300,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,NaN,"1,156.00","1,156.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,462.00,1.00,NaN,"33,703,984.00","-118,022,542.00","6,600.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,994.04","25,218.00","1,286.00",NaN,"96,965.00",5.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,965.00",1.00,1,"72,117.00","629,090.00","2,016.00","556,973.00","7,109.00",None,NaN,"60,590,994,042,016.00",-0.02,2017-09-17,None,None,None,None,Single Family Residential,None,None
54392,17239384,NaN,NaN,NaN,2.00,4.00,None,NaN,2.00,NaN,"1,612.00","1,612.00","1,612.00",NaN,None,"1,612.00",NaN,"6,111.00",1.00,2.00,2.00,560.00,NaN,NaN,"34,300,140.00","-118,706,327.00","12,105.00",NaN,NaN,NaN,NaN,NaN,1111,261.00,None,"61,110,084.02","27,110.00","2,061.00",NaN,"97,116.00",7.00,NaN,NaN,NaN,NaN,656.00,NaN,"1,964.00",1.00,1,"50,683.00","67,205.00","2,016.00","16,522.00","1,107.48",None,NaN,"61,110,084,022,016.00",0.01,2017-09-21,None,None,None,None,Single Family Residential,None,None

In [37]:
# Data Dictionary of zillow data. Will help determine what to save
pd.set_option('display.max_colwidth', None)
raw_data_dictionary = pd.read_clipboard()
raw_data_dictionary

,Feature,Description
0,'airconditioningtypeid',Type of cooling system present in the home (if any)
1,'architecturalstyletypeid',"Architectural style of the home (i.e. ranch, colonial, split-level, etc…)"
2,'basementsqft',Finished living area below or partially below ground level
3,'bathroomcnt',Number of bathrooms in home including fractional bathrooms
4,'bedroomcnt',Number of bedrooms in home
5,'buildingqualitytypeid',Overall assessment of condition of the building from best (lowest) to worst (highest)
6,'buildingclasstypeid',"The building framing type (steel frame, wood frame, concrete/brick)"
7,'calculatedbathnbr',Number of bathrooms in home including fractional bathroom
8,'decktypeid',Type of deck (if any) present on parcel
9,'threequarterbathnbr',Number of 3/4 bathrooms in house (shower + sink + toilet)
10,'finishedfloor1squarefeet',Size of the finished living area on the first (entry) floor of the home
11,'calculatedfinishedsquarefeet',Calculated total finished living area of the home
12,'finishedsquarefeet6',Base unfinished and finished area
13,'finishedsquarefeet12',Finished living area
14,'finishedsquarefeet13',Perimeter living area
15,'finishedsquarefeet15',Total area
16,'finishedsquarefeet50',Size of the finished living area on the first (entry) floor of the home
17,'fips',Federal Information Processing Standard code - see https://en.wikipedia.org/wiki/FIPS_county_code for more details
18,'fireplacecnt',Number of fireplaces in a home (if any)
19,'fireplaceflag',Is a fireplace present in this home
20,'fullbathcnt',"Number of full bathrooms (sink, shower + bathtub, and toilet) present in home"
21,'garagecarcnt',Total number of garages on the lot including an attached garage
22,'garagetotalsqft',Total number of square feet of all garages on lot including an attached garage
23,'hashottuborspa',Does the home have a hot tub or spa
24,'heatingorsystemtypeid',Type of home heating system
25,'latitude',Latitude of the middle of the parcel multiplied by 10e6
26,'longitude',Longitude of the middle of the parcel multiplied by 10e6
27,'lotsizesquarefeet',Area of the lot in square feet
28,'numberofstories',Number of stories or levels the home has
29,'parcelid',Unique identifier for parcels (lots)
30,'poolcnt',Number of pools on the lot (if any)
31,'poolsizesum',Total square footage of all pools on property
32,'pooltypeid10',Spa or Hot Tub
33,'pooltypeid2',Pool with Spa/Hot Tub
34,'pooltypeid7',Pool without hot tub
35,'propertycountylandusecode',County land use code i.e. it's zoning at the county level
36,'propertylandusetypeid',Type of land use the property is zoned for
37,'propertyzoningdesc',Description of the allowed land uses (zoning) for that property
38,'rawcensustractandblock',Census tract and block ID combined - also contains blockgroup assignment by extension
39,'censustractandblock',Census tract and block ID combined - also contains blockgroup assignment by extension
40,'regionidcounty',County in which the property is located
41,'regionidcity',City in which the property is located (if any)
42,'regionidzip',Zip code in which the property is located
43,'regionidneighborhood',Neighborhood in which the property is located
44,'roomcnt',Total number of rooms in the principal residence
45,'storytypeid',"Type of floors in a multi-story house (i.e. basement and main level, split-level, attic, etc.). See tab for details."
46,'typeconstructiontypeid',What type of construction material was used to construct the home
47,'unitcnt',"Number of units the structure is built into (i.e. 2 = duplex, 3 = triplex, etc...)"
48,'yardbuildingsqft17',Patio in yard
49,'yardbuildingsqft26',Storage shed/building in yard
50,'yearbuilt',The Year the principal residence was built
51,'taxvaluedollarcnt',The total tax assessed value of the parcel
52,'structuretaxvaluedollarcnt',The assessed value of the built structure on the parcel
53,'landtaxvaluedollarcnt',The assessed value of the land area of the parcel
54,'taxamount',The total property tax assessed for that assessment year
55,'assessmentyear',The year of the property tax assessment
56,'taxdelinquencyflag',Property taxes for this parcel are past due as of 2015
57,'taxdelinquencyyear',Year for which the unpaid propert taxes were due

Takeaways

- Fill in fireplaceflag with values 0 or 1. Filled in values does not match 'fireplacecnt' total.
- Fill in nulls with 0 in columns: 'basementsqft', 'fireplacecnt', 

- Drop 'hashottuborspa' due to column is the sum of columns 'pooltypeid2' and 'pooltypeid10'
- Drop 'poolcnt' due to sum (11447) does not match totalof columns of 'pooltypeid2' and 'pooltypeid7' (11374) short 73 pools, create new column 'haspool' with values 0 meaning No or 1 meaning yes.

In [61]:
df.poolcnt.value_counts()

1.00    11447
Name: poolcnt, dtype: int64

In [62]:
df.pooltypeid10.value_counts()

1.00    443
Name: pooltypeid10, dtype: int64

In [63]:
df.pooltypeid2.value_counts()

1.00    1071
Name: pooltypeid2, dtype: int64

In [64]:
df.pooltypeid7.value_counts()

1.00    10357
Name: pooltypeid7, dtype: int64

In [65]:
df.hashottuborspa.value_counts()

1.00    1514
Name: hashottuborspa, dtype: int64

In [66]:
df.loc[df['pooltypeid2'] > 0]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
46,14434171,NaN,NaN,NaN,6.50,5.00,None,NaN,6.50,NaN,NaN,"9,586.00","9,586.00",NaN,None,NaN,NaN,"6,059.00",0.00,6.00,4.00,"1,114.00",1.00,NaN,"33,496,171.00","-117,699,380.00","30,000.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,423.32","25,459.00","1,286.00",NaN,"96,987.00",0.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,992.00",NaN,0,"1,708,622.00","3,624,442.00","2,016.00","1,915,820.00","38,491.98",None,NaN,"60,590,423,322,002.00",0.06,2017-01-02,None,None,None,None,Single Family Residential,None,None
147,14350624,NaN,NaN,NaN,4.00,6.00,None,NaN,4.00,NaN,NaN,"3,733.00","3,733.00",NaN,None,NaN,NaN,"6,059.00",0.00,4.00,2.00,464.00,1.00,NaN,"33,722,323.00","-117,744,913.00","7,448.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,524.20","52,650.00","1,286.00","274,815.00","96,954.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,999.00",NaN,0,"427,940.00","799,634.00","2,016.00","371,694.00","10,794.22",None,NaN,"60,590,524,204,004.00",-0.02,2017-01-03,None,None,None,None,Single Family Residential,None,None
171,14394667,NaN,NaN,NaN,3.00,4.00,None,NaN,3.00,NaN,NaN,"3,309.00","3,309.00",NaN,None,NaN,NaN,"6,059.00",0.00,3.00,2.00,670.00,1.00,NaN,"33,567,399.00","-117,680,138.00","31,710.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,423.33","25,458.00","1,286.00",NaN,"96,971.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,989.00",NaN,0,"567,646.00","1,452,674.00","2,016.00","885,028.00","14,914.64",None,NaN,"60,590,423,332,009.00",0.02,2017-01-03,None,None,None,None,Single Family Residential,None,None
189,14391477,NaN,NaN,NaN,2.50,4.00,None,NaN,2.50,NaN,NaN,"2,357.00","2,357.00",NaN,None,NaN,NaN,"6,059.00",0.00,2.00,2.00,587.00,1.00,NaN,"33,585,703.00","-117,744,295.00","4,420.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,626.33","37,086.00","1,286.00",NaN,"96,974.00",0.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,995.00",NaN,0,"287,015.00","748,968.00","2,016.00","461,953.00","7,526.84",None,NaN,"60,590,626,332,010.00",0.01,2017-01-03,None,None,None,None,Single Family Residential,None,None
291,14081668,NaN,NaN,NaN,4.00,4.00,None,NaN,4.00,NaN,NaN,"3,186.00","3,186.00",NaN,None,NaN,NaN,"6,059.00",2.00,4.00,2.00,609.00,1.00,NaN,"33,724,009.00","-118,065,886.00","6,000.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,995.15","25,218.00","1,286.00",NaN,"96,967.00",8.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,977.00",2.00,1,"343,287.00","651,462.00","2,016.00","308,175.00","7,274.26",None,NaN,"60,590,995,145,004.00",-0.01,2017-01-04,None,None,None,None,Single Family Residential,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53671,14461441,NaN,NaN,NaN,6.50,6.00,None,NaN,6.50,NaN,NaN,"4,767.00","4,767.00",NaN,None,NaN,NaN,"6,059.00",0.00,6.00,3.00,871.00,1.00,NaN,"33,574,911.00","-117,577,372.00","12,332.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,320.46","17,597.00","1,286.00",NaN,"96,989.00",0.00,NaN,1.00,NaN,NaN,NaN,NaN,"2,000.00",NaN,0,"775,455.00","1,707,000.00","2,016.00","931,545.00","17,668.84",None,NaN,"60,590,320,464,009.00",-0.01,2017-09-14,None,None,None,None,Single Family Residential,None,None
53816,14340406,NaN,NaN,NaN,4.50,5.00,None,NaN,4.50,NaN,NaN,"4,038.00","4,038.00",NaN,None,NaN,NaN,"6,059.00",0.00,4.00,2.00,636.00,1.00,NaN,"33,759,849.00","-117,766,915.00","10,059.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,524.19","27,491.00","1,286.00",NaN,"97,018.00",0.00,NaN,1.00,NaN,NaN,NaN,NaN,"2,001.00",NaN,0,"646,900.00","1,853,244.00","2,016.00","1,206,344.00","20,524.24",None,NaN,"60,590,524,192,010.00",0.01,2017-09-15,None,None,None,None,Single Family Residential,None,None
54009,14434009,NaN,NaN,NaN,4.00,3.00,None,NaN,4.00,NaN,NaN,"3,454.00","3,454.00",NaN,None,NaN,NaN,"6,059.00",0.00,4.00,2.00,556.00,1.00,NaN,"33,497,009.00","-117,696,151.00","10,428.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,423.32","25,459.00","1,286.00",NaN,"96,987.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,995.00",NaN,0,"463,593.00","1,307,640.00","2,016.00","844,047.00","13,971.74",None,NaN,"60,590,423,322,003.00",-0.13,2017-09-15,None,None,None,None,Single Family Residential,None,None
54029,14436536,NaN,NaN,NaN,4.00,5.00,None,NaN,4.00,NaN,NaN,"3,542.00","3,542.00",NaN,None,NaN,NaN,"6,059.00",0.00,4.00,2.00,650.00,1.00,NaN,"33,476,759.00","-117,615,062.00","9,244.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,421.11","13,693.00","1,286.00",NaN,"96,983.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,"2,000.00",NaN,0,"508,800.00","1,168,000.00","2,016.00","659,200.00","12,521.78",None,NaN,"60,590,421,114,002.00",0.05,2017-09-15,None,None,None,None,Single Family Residential,None,None
54093,13976300,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,NaN,"1,156.00","1,156.00",NaN,None,NaN,NaN,"6,059.00",1.00,2.00,2.00,462.00,1.00,NaN,"33,703,984.00","-118,022,542.00","6,600.00",1.00,NaN,NaN,1.00,NaN,122,261.00,None,"60,590,994.04","25,218.00","1,286.00",NaN,"96,965.00",5.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,965.00",1.00,1,"72,117.00","629,090.00","2,016.00","556,973.00","7,109.00",None,NaN,"60,590,994,042,016.00",-0.02,2017-09-17,None,None,None,None,Single Family Residential,None,None

In [67]:
df.loc[df['pooltypeid7'] > 0]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
2,14186244,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,NaN,"1,243.00","1,243.00",NaN,None,NaN,NaN,"6,059.00",0.00,2.00,2.00,440.00,NaN,NaN,"33,886,168.00","-117,823,170.00","8,432.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,218.02","21,412.00","1,286.00",NaN,"97,078.00",6.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,962.00",1.00,0,"85,289.00","564,778.00","2,016.00","479,489.00","6,488.30",None,NaN,"60,590,218,022,012.00",0.01,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"2,376.00","2,376.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,245,180.00","-118,240,722.00","13,038.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,LCR110000*,"60,373,001.00","396,551.00","3,101.00",NaN,"96,330.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,970.00",NaN,0,"108,918.00","145,143.00","2,016.00","36,225.00","1,777.51",None,NaN,"60,373,001,001,006.00",-0.10,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,12095076,1.00,NaN,NaN,3.00,4.00,None,9.00,3.00,NaN,NaN,"2,962.00","2,962.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,145,202.00","-118,179,824.00","63,000.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,PSR2,"60,374,608.00","47,019.00","3,101.00","274,684.00","96,293.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,950.00",NaN,0,"276,684.00","773,303.00","2,016.00","496,619.00","9,516.26",None,NaN,"60,374,608,001,014.00",-0.00,2017-01-01,Central,None,None,Central,Single Family Residential,None,None
7,11104527,1.00,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"2,540.00","2,540.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,434,971.00","-118,464,390.00","10,384.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,SCUR2,"60,379,200.34","54,311.00","3,101.00","37,739.00","96,374.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,999.00",NaN,0,"271,715.00","430,108.00","2,016.00","158,393.00","6,103.36",None,NaN,"60,379,200,341,014.00",0.01,2017-01-02,Central,None,None,Central,Single Family Residential,None,None
16,14314879,NaN,NaN,NaN,4.50,6.00,None,NaN,4.50,NaN,NaN,"3,870.00","3,870.00",NaN,None,NaN,NaN,"6,059.00",2.00,4.00,3.00,720.00,NaN,NaN,"33,609,965.00","-117,850,693.00","10,050.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,626.44","53,571.00","1,286.00","28,119.00","96,957.00",11.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,972.00",2.00,1,"298,263.00","2,040,000.00","2,016.00","1,741,737.00","21,758.26",None,NaN,"60,590,626,444,017.00",-0.00,2017-01-02,None,None,None,None,Single Family Residential,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54369,10867042,NaN,NaN,NaN,2.00,3.00,None,7.00,2.00,NaN,NaN,"2,141.00","2,141.00",NaN,None,NaN,NaN,"6,037.00",0.00,2.00,NaN,NaN,NaN,2.00,"34,150,146.00","-118,490,857.00","25,568.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,LARE15,"60,371,397.02","12,447.00","3,101.00","51,906.00","96,426.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,954.00",NaN,0,"177,397.00","887,003.00","2,016.00","709,606.00","10,806.09",None,NaN,"60,371,397,022,001.00",-0.03,2017-09-19,None,None,None,Central,Single Family Residential,None,None
54370,13089085,1.00,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"1,859.00","1,859.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,020,210.00","-117,873,372.00","7,227.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,WAR17200*,"60,374,034.01","34,636.00","3,101.00",NaN,"96,522.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,978.00",NaN,0,"234,913.00","374,886.00","2,016.00","139,973.00","4,957.87",None,NaN,"60,374,034,013,011.00",0.02,2017-09-19,Central,None,None,Central,Single Family Residential,None,None
54378,12401161,NaN,NaN,NaN,3.00,3.00,None,9.00,3.00,NaN,NaN,"3,539.00","3,539.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"33,948,312.00","-118,107,263.00","17,881.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,DOR110000*,"60,375,505.01","4,406.00","3,101.00",NaN,"96,100.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,961.00",NaN,0,"593,801.00","887,197.00","2,016.00","293,396.00","10,781.20",None,NaN,"60,375,505,005,002.00",-0.23,2017-09-19,None,None,None,Central,Single Family Residential,None,None
54379,11068972,1.00,NaN,NaN,5.00,4.00,None,11.00,5.00,NaN,NaN,"5,210.00","5,210.00",NaN,None,NaN,NaN,"6,037.00",0.00,5.00,NaN,NaN,NaN,2.00,"34,296,608.00","-118,573,153.00",NaN,1.00,NaN,NaN,NaN,1.00,010D,269.00,LARE11,"60,371,082.02","12,447.00","3,101.00","275,078.00","96,356.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"2,010.00",NaN,0,"790,000.00","1,316,000.00","2,016.00","526,000.00","16,032.16",None,NaN,"60,371,082,021,000.00",0.02,2017-09-19,Central,None,None,Central,Planned Unit Development,None,None
54381,12669704,NaN,NaN,NaN,2.00,4.00,None,8.00,2.00,NaN,NaN,"2,166.00","2,166.00",NaN,None,NaN,NaN,"6,037.00",0.00,2.00,NaN,NaN,NaN,2.00,"33,809,933.00","-118,375,646.00","6,143.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,TORR-LO,"60,376,513.02","33,612.00","3,101.00","115,657.00","96,123.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,954.00",NaN,0,"66,047.00","139,547.00","2,016.00","73,500.00","1,770.95",None,NaN,"60,376,513,022,002.00",0.05,2017-09-19,None,None,None,Central,Single Family Residential,None,None

In [70]:
df[(df.pooltypeid7 > 0) | (df.pooltypeid2 > 0)]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
2,14186244,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,NaN,"1,243.00","1,243.00",NaN,None,NaN,NaN,"6,059.00",0.00,2.00,2.00,440.00,NaN,NaN,"33,886,168.00","-117,823,170.00","8,432.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,218.02","21,412.00","1,286.00",NaN,"97,078.00",6.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,962.00",1.00,0,"85,289.00","564,778.00","2,016.00","479,489.00","6,488.30",None,NaN,"60,590,218,022,012.00",0.01,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"2,376.00","2,376.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,245,180.00","-118,240,722.00","13,038.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,LCR110000*,"60,373,001.00","396,551.00","3,101.00",NaN,"96,330.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,970.00",NaN,0,"108,918.00","145,143.00","2,016.00","36,225.00","1,777.51",None,NaN,"60,373,001,001,006.00",-0.10,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,12095076,1.00,NaN,NaN,3.00,4.00,None,9.00,3.00,NaN,NaN,"2,962.00","2,962.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,145,202.00","-118,179,824.00","63,000.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,PSR2,"60,374,608.00","47,019.00","3,101.00","274,684.00","96,293.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,950.00",NaN,0,"276,684.00","773,303.00","2,016.00","496,619.00","9,516.26",None,NaN,"60,374,608,001,014.00",-0.00,2017-01-01,Central,None,None,Central,Single Family Residential,None,None
7,11104527,1.00,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"2,540.00","2,540.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,434,971.00","-118,464,390.00","10,384.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,SCUR2,"60,379,200.34","54,311.00","3,101.00","37,739.00","96,374.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,999.00",NaN,0,"271,715.00","430,108.00","2,016.00","158,393.00","6,103.36",None,NaN,"60,379,200,341,014.00",0.01,2017-01-02,Central,None,None,Central,Single Family Residential,None,None
16,14314879,NaN,NaN,NaN,4.50,6.00,None,NaN,4.50,NaN,NaN,"3,870.00","3,870.00",NaN,None,NaN,NaN,"6,059.00",2.00,4.00,3.00,720.00,NaN,NaN,"33,609,965.00","-117,850,693.00","10,050.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,626.44","53,571.00","1,286.00","28,119.00","96,957.00",11.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,972.00",2.00,1,"298,263.00","2,040,000.00","2,016.00","1,741,737.00","21,758.26",None,NaN,"60,590,626,444,017.00",-0.00,2017-01-02,None,None,None,None,Single Family Residential,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54369,10867042,NaN,NaN,NaN,2.00,3.00,None,7.00,2.00,NaN,NaN,"2,141.00","2,141.00",NaN,None,NaN,NaN,"6,037.00",0.00,2.00,NaN,NaN,NaN,2.00,"34,150,146.00","-118,490,857.00","25,568.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,LARE15,"60,371,397.02","12,447.00","3,101.00","51,906.00","96,426.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,954.00",NaN,0,"177,397.00","887,003.00","2,016.00","709,606.00","10,806.09",None,NaN,"60,371,397,022,001.00",-0.03,2017-09-19,None,None,None,Central,Single Family Residential,None,None
54370,13089085,1.00,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"1,859.00","1,859.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,020,210.00","-117,873,372.00","7,227.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,WAR17200*,"60,374,034.01","34,636.00","3,101.00",NaN,"96,522.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,978.00",NaN,0,"234,913.00","374,886.00","2,016.00","139,973.00","4,957.87",None,NaN,"60,374,034,013,011.00",0.02,2017-09-19,Central,None,None,Central,Single Family Residential,None,None
54378,12401161,NaN,NaN,NaN,3.00,3.00,None,9.00,3.00,NaN,NaN,"3,539.00","3,539.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"33,948,312.00","-118,107,263.00","17,881.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,DOR110000*,"60,375,505.01","4,406.00","3,101.00",NaN,"96,100.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,961.00",NaN,0,"593,801.00","887,197.00","2,016.00","293,396.00","10,781.20",None,NaN,"60,375,505,005,002.00",-0.23,2017-09-19,None,None,None,Central,Single Family Residential,None,None
54379,11068972,1.00,NaN,NaN,5.00,4.00,None,11.00,5.00,NaN,NaN,"5,210.00","5,210.00",NaN,None,NaN,NaN,"6,037.00",0.00,5.00,NaN,NaN,NaN,2.00,"34,296,608.00","-118,573,153.00",NaN,1.00,NaN,NaN,NaN,1.00,010D,269.00,LARE11,"60,371,082.02","12,447.00","3,101.00","275,078.00","96,356.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"2,010.00",NaN,0,"790,000.00","1,316,000.00","2,016.00","526,000.00","16,032.16",None,NaN,"60,371,082,021,000.00",0.02,2017-09-19,Central,None,None,Central,Planned Unit Development,None,None
54381,12669704,NaN,NaN,NaN,2.00,4.00,None,8.00,2.00,NaN,NaN,"2,166.00","2,166.00",NaN,None,NaN,NaN,"6,037.00",0.00,2.00,NaN,NaN,NaN,2.00,"33,809,933.00","-118,375,646.00","6,143.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,TORR-LO,"60,376,513.02","33,612.00","3,101.00","115,657.00","96,123.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,954.00",NaN,0,"66,047.00","139,547.00","2,016.00","73,500.00","1,770.95",None,NaN,"60,376,513,022,002.00",0.05,2017-09-19,None,None,None,Central,Single Family Residential,None,None

In [75]:
def conditions(df):
    if (df['pooltypeid7'] > 0) or (df['pooltypeid2'] > 0) :
        return 1
    else:
        return 0

In [77]:
df['haspool'] = df.apply(conditions, axis=1)

In [78]:
df.haspool.value_counts()

0    42967
1    11428
Name: haspool, dtype: int64

In [81]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,haspool
0,14297519,NaN,NaN,NaN,3.50,4.00,None,NaN,3.50,NaN,NaN,"3,100.00","3,100.00",NaN,None,NaN,NaN,"6,059.00",0.00,3.00,2.00,633.00,NaN,NaN,"33,634,931.00","-117,869,207.00","4,506.00",NaN,NaN,NaN,NaN,NaN,122,261.00,None,"60,590,630.07","53,571.00","1,286.00",NaN,"96,978.00",0.00,NaN,1.00,NaN,NaN,NaN,NaN,"1,998.00",NaN,0,"485,713.00","1,023,282.00","2,016.00","537,569.00","11,013.72",None,NaN,"60,590,630,072,012.00",0.03,2017-01-01,None,None,None,None,Single Family Residential,None,None,0
1,17052889,NaN,NaN,NaN,1.00,2.00,None,NaN,1.00,NaN,"1,465.00","1,465.00","1,465.00",NaN,None,"1,465.00",NaN,"6,111.00",1.00,1.00,1.00,0.00,NaN,NaN,"34,449,266.00","-119,281,531.00","12,647.00",NaN,NaN,NaN,NaN,NaN,1110,261.00,None,"61,110,010.02","13,091.00","2,061.00",NaN,"97,099.00",5.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,967.00",1.00,1,"88,000.00","464,000.00","2,016.00","376,000.00","5,672.48",None,NaN,"61,110,010,023,006.00",0.06,2017-01-01,None,None,None,None,Single Family Residential,None,None,0
2,14186244,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,NaN,"1,243.00","1,243.00",NaN,None,NaN,NaN,"6,059.00",0.00,2.00,2.00,440.00,NaN,NaN,"33,886,168.00","-117,823,170.00","8,432.00",1.00,NaN,NaN,NaN,1.00,122,261.00,None,"60,590,218.02","21,412.00","1,286.00",NaN,"97,078.00",6.00,NaN,NaN,NaN,NaN,NaN,NaN,"1,962.00",1.00,0,"85,289.00","564,778.00","2,016.00","479,489.00","6,488.30",None,NaN,"60,590,218,022,012.00",0.01,2017-01-01,None,None,None,None,Single Family Residential,None,None,1
3,12177905,NaN,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,NaN,"2,376.00","2,376.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,245,180.00","-118,240,722.00","13,038.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,LCR110000*,"60,373,001.00","396,551.00","3,101.00",NaN,"96,330.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,970.00",NaN,0,"108,918.00","145,143.00","2,016.00","36,225.00","1,777.51",None,NaN,"60,373,001,001,006.00",-0.10,2017-01-01,None,None,None,Central,Single Family Residential,None,None,1
4,12095076,1.00,NaN,NaN,3.00,4.00,None,9.00,3.00,NaN,NaN,"2,962.00","2,962.00",NaN,None,NaN,NaN,"6,037.00",0.00,3.00,NaN,NaN,NaN,2.00,"34,145,202.00","-118,179,824.00","63,000.00",1.00,NaN,NaN,NaN,1.00,0101,261.00,PSR2,"60,374,608.00","47,019.00","3,101.00","274,684.00","96,293.00",0.00,NaN,NaN,NaN,1.00,NaN,NaN,"1,950.00",NaN,0,"276,684.00","773,303.00","2,016.00","496,619.00","9,516.26",None,NaN,"60,374,608,001,014.00",-0.00,2017-01-01,Central,None,None,Central,Single Family Residential,None,None,1

In [85]:
df.pooltypeid10.value_counts()

1.00    443
Name: pooltypeid10, dtype: int64

In [ ]:
df["hashottuborspa"].fillna( 0 , inplace = True)
df["pooltypeid10"].fillna( 0 , inplace = True)
df["pooltypeid7"].fillna( 0 , inplace = True)
df["pooltypeid10"].fillna( 0 , inplace = True)
df["pooltypeid2"].fillna( 0 , inplace = True)
df["pooltypeid10"].fillna( 0 , inplace = True)